<script setup lang="ts">
import { useMessagerStore } from "@/stores/message";
const messagerStore = useMessagerStore();
</script>
<template>
  <div class="text-center ma-2">
    <v-snackbar v-model="messagerStore.isShow">
      {{ messagerStore.message }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="pink"
          text
          v-bind="attrs"
          @click="messagerStore.closeMessage"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
