<script setup lang="ts">
import MainView from "./views/MainView.vue";
import LoginView from "./views/LoginView.vue";
import { onMounted } from "vue";

import { useLoginStore } from "@/stores/login";
import MessageBox from "./components/MessageBox.vue";
import MessageBoxVue from "./components/MessageBox.vue";
const LoginStore = useLoginStore();
onMounted(() => {
  LoginStore.loadData();
});
</script>

<template>
  <LoginView v-if="!LoginStore.isLogin" />
  <MainView
    v-if="LoginStore.isLogin"
    @logout="LoginStore.logout"
    :login-name="LoginStore.loginName"
  />
  <MessageBoxVue></MessageBoxVue>
</template>

<style></style>
